{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
     <table class="table">
        <thead>
        <tr>
            <th>Filename</th>
            <th>File path</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for file in pagination %}
            <tr>
                <td>{{ file.fileName }}</td>
                <td>{{ file.filePath }}</td>
                <td>{% for category in file.categories %}
                 {{ category.categoryName }}{% if loop.last != true %} <br> {% endif %}
                    {% endfor %}
                </td>
                <td>{{ file.description }}</td>
                <td>{{ file.updatedAt|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    <br><br><a href="{{ path('admin_home') }}">Back to Admin Home</a><br>
{% endblock %}