{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <a href="{{ path('admin_list_files') }}">View all files</a><br>
    <a href="{{ path('admin_add_file') }}">Add a new file</a><br>
    <a href="{{ path('app_homepage') }}">Gallery Home</a><br>
{% endblock %}