{% extends 'form_base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block menuitemone %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('show_images_from_category', {
                    categoryName: category.categoryName
                }) }}">{{ category.categoryName}}</a>
            {% endfor %}
        </div>
    </li>
{% endblock %}

{% block content_body %}
    <a href="{{ uploaded_asset(uploadForm.vars.data.imageFilePath) }}" target="_blank">
        <img src="{{ uploadForm.vars.data.imageFilePath|imagine_filter('squared_thumbnail_200') }}"
             alt="the image" height="100" class="mt-2 rounded float-right">
    </a>
    <h1 class="edit-image">{{ title }}</h1>
    {{ form_start(uploadForm) }}
    {% do uploadForm.imageFile.setRendered() %}
    {{ form_row(uploadForm.imageFileTitle) }}
    {{ form_row(uploadForm.imageFileDescription) }}
    {{ form_row(uploadForm.categories) }}
    <button type="submit" class="btn btn-primary">Update!</button>
    {{ form_end(uploadForm) }}
{% endblock %}