{% extends 'content_base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content_body %}
    <h1>{{ title }}</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('admin_home') }}">Back to Admin Home</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('admin_add_file') }}">New File</a>
        </li>
    </ul>
     <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Filename</th>
            <th width="150">Added</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for imageFile in pagination %}
            <tr>
                <td><a href="{{ uploaded_asset(imageFile.imageFilePath) }}" target="_blank">
                        <img class="article-img" src="{{ uploaded_asset(imageFile.imageFilePath)|imagine_filter('squared_thumbnail_50') }}"
                             alt="thumbnail">
                    </a>
                </td>
                <td>{{ imageFile.imageFileTitle }}</td>
                <td>{{ imageFile.imageFileDescription }}</td>
                <td>{% for category in imageFile.categories %}
                        {{ category.categoryName }}{% if loop.last != true %} <br> {% endif %}
                    {% endfor %}
                </td>
                <td>{{ imageFile.imageFileName }}</td>
                <td>{{ imageFile.updatedAt|date('d-m-Y') }}</td>
                <td><a href="{{ path('admin_file_edit', {
                        id: imageFile.id
                    }) }}">
                        <span class="fas fa-pencil"></span>
                    </a>
                    <br>

                    <a href="{{ path('admin_file_delete', {
                        id: imageFile.id
                    }) }}">
                        <span class="fas fa-trash"></span>
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}