{% extends 'content_base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block menuitemone %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('show_images_from_category', {
                    categoryName: category.categoryName
                }) }}">{{ category.categoryName}}</a>
            {% endfor %}
        </div>
    </li>
{% endblock %}

{% block content_body %}
    <a href="{{ path('admin_add_image') }}" class="newbutton btn btn-primary float-right">
        New image<span class="fas fa-upload ml-3"></span>
    </a>
    <h1>{{ title }}</h1>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Filename</th>
            <th width="150">Added</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for imageFile in pagination %}
            <tr class="js-file-item">
                <td><a href="{{ uploaded_asset(imageFile.imageFilePath) }}" target="_blank">
                        <img class="article-img" src="{{ asset(imageFile.imageFilePath|imagine_filter('squared_thumbnail_50')) }}"
                             alt="{{ imageFile.imageFileTitle }}">
                    </a>
                </td>
                <td>{{ imageFile.imageFileTitle }}</td>
                <td>{{ imageFile.imageFileDescription }}</td>
                <td>{% for category in imageFile.categories %}
                        {{ category.categoryName }}{% if loop.last != true %} <br> {% endif %}
                    {% endfor %}
                </td>
                <td>{{ imageFile.imageFileName }}</td>
                <td>{{ imageFile.updatedAt|date('d-m-Y') }}</td>
                <td><a href="{{ path('admin_image_edit', {
                        id: imageFile.id
                    }) }}">
                        <span class="fas fa-pencil"></span>
                    </a>
                    <br>
                    <a href="#"
                        class="js-delete-image"
                        data-url="{{ path('admin_image_delete', {
                            id: imageFile.id
                        }) }}"
                    >
                        <span class="fas fa-trash"></span>
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}