{% extends 'form_base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content_body %}
    <h1>{{ title }}</h1>
    {{ form_start(uploadForm) }}
    {{ form_row(uploadForm.imageFile, {
        'attr': {
            'placeholder': 'Select your image file'
        }
    }) }}
    {{ form_row(uploadForm.imageFileTitle) }}
    {{ form_row(uploadForm.imageFileDescription, {
        'attr': {
            'placeholder': 'What is the image about?'
        }
    }) }}
    {{ form_row(uploadForm.categories) }}
    <button type="submit" class="btn btn-primary">Upload</button>
    {{ form_end(uploadForm) }}
{% endblock %}
